.stationControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
  transition: max-height ease-in-out 300ms;
  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
  }
  img {
    width: 100%;
    height: auto;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
